body {
  font-family: "Inter", sans-serif;
  background: #f3f6fb;
  color: #222;
}

.navbar {
  background: #c5d3e7 !important;
}

.card {
  background: #f9fbff;
  border: 1px solid #e0e6f0;
}

.features .border {
  background: #e8f0ff;
}

.logo-circle {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #2b6fb3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}
.team img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
}
.extra-details {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
  transition: all 0.3s ease;
}



.btn-primary {
  background: #2b6fb3;
  border-color: #2b6fb3;
}

.btn-primary:hover {
  background: #235c96;
  border-color: #235c96;
}

footer {
  background: #000000;
  color: #444;
  font-size: 0.9rem;
  bottom: 0;
}
